:root {
  --color-font: #4f5053;
  // --color-primary: #2D3252;
  --color-primary: #2D3252;
  --color-secondary: #90AA9D;
  --color-link: #267DF4;
  --color-link-hover: #83b8ac;
  --color-gradient-start: #255d83;
  --color-gradient-stop: #3E6170;
  --color-img-holder: #efefef;
  // --color-font: #4f5053;
  // --color-primary: #1f4664;
  // --color-secondary: #ffb09f;
  // --color-link: #658e85;
  // --color-link-hover: #83b8ac;
  // --color-gradient-start: #4fda91;
  // --color-gradient-stop: #34dbc5;
  // --color-img-holder: #efefef;
}